
html {
    scroll-behavior: smooth; /* */
}

body {
    background-color: #fdfcf0; 
    padding: 5px; /* */
    margin: 15px; /* */
    font-size: 25px; /* */
    font-family: Arial, sans-serif; /* */
    color: #4a4a4a; 
}

h1 {
    text-align: center; /* */
    font-family: Arial, sans-serif; /* */
    font-size: 1.95em; /* */
    color: #555;
}

.grid {
    display: grid; /* */
    grid-template-columns: 1fr; /* */
    gap: 10px;
}

figure {
    margin: 0;
    padding: 15px;
    border: 5px solid #aec6cf; 
    background-color: #ffffff;
}

img {
    width: 100%; /* */
    display: block;
    border-radius: 20px; 
}

figcaption {
    text-align: center; /* */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* */
    margin-top: 10px;
}

@media screen and (min-width: 772px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    figure {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    figure:last-child {
        grid-column: span 2;
        border-radius: 40px; 
    }
}


@media screen and (min-width: 992px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    figure {
        border-radius: 0;
        aspect-ratio: auto;
    }

    figure:nth-child(3n) {
        grid-column: span 2;
    }
}


@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
    }

    figure {
        background-color: #333333;
        color: #ffffcc;
        border-color: black;
    }
}
